<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Donut Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" media="screen" title="no title">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
  </head>
  <body>
    <h1>This is a donut shop!</h1>
    <%- body %>
    <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script type="text/javascript" src="/js/script.js"></script>
  </body>
</html>
